# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb_checkpoints

# Virtual Environment
venv/
ENV/
env/
.env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# OS Metadata
.DS_Store
Thumbs.db
